doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  br
  body
    each post in posts
      div(class="d-flex justify-content-center pt-4")
        div(class="card" style="width: 20rem;")
          div(class="card-body")
            h5(class="card-title")=post.title
            p(class="card-text")=post.content
            div(class="d-flex pt-4")
              button(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
              onclick=`location.href='/view/posts/update/${post.postId}'`) Edit posts
              a(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
              onclick="return confirm('Are you sure you want to delete this post?');"
              href=`/view/posts/delete/${post.postId}`) Delete post
            br
      br
    div(class="d-flex justify-content-center pt-3")
      button.btn.btn-primary(class="d-flex justify-content-center" type='button'
      onclick="location.href='/view/profile/new-post'") New Post

