doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  body
    script.
      !{hello()}
    each post in posts
      div(class="d-flex justify-content-center py-5")
        div(class="card" style="width: 20rem;")
          div(class="card-body")
            h5(class="card-title")=post.title
            p(class="card-text")=post.content
            div(class="d-flex pt-5")
              button(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
              onclick=`location.href='/view/posts/update/${post.postId}'`) Edit posts
              button(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
              onclick="console.log(#{some})") Delete post
            br
      br
    div(class="d-flex justify-content-center")
      button.btn.btn-primary(class="d-flex justify-content-center" type='button'
      onclick="location.href='/view/profile/new-post'") New Post

