doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug

  +head("The amazing blog")
  br
  body
    h1(class="text-center py-5" id="username-title") #{user.firstname}'s profile
    div(class="container py-2")
      div(class="row d-flex justify-content-center align-items-center")
        div(class="col col-md-9 col-lg-7 col-xl-5")
          div(class="card" style="border-radius: 15px;")
              div(class="card-body p-4")
                div(class="d-flex text-black")
                  div(class="flex-shrink-0")
                    img(src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                    alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;")
                  div(class="flex-grow-1 ms-3")
                    h5(class="mb-1") #{user.firstname} #{user.lastname}
                    p(class="mb-2 pb-1" style="color: #2b2a2a;")=user.username
                    p(class="small text-muted mb-1")=user.email
                    div(class="d-flex pt-3")
                      button(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
                      onclick="location.href='/view/profile/my-posts'") Posts
                    div(class="d-flex pt-3")
                      include ../layouts/users/updateUserButton.pug
          div(class="d-flex pt-3")
            include ../layouts/users/deleteUserButton.pug
            a(class="btn me-1 flex-grow-1 btn-danger"
            href="/view/auth/logout") Logout







