doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug

  +head("The amazing blog")
  br
  body
    h1(class="text-center py-5") List of users
    if userReq.role === 'user'
      each user in users
          include ../layouts/profile.pug
            div(class="d-flex pt-5")
              a(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
              href=`/view/users/${user.userId}/posts`) Posts
    else if userReq.role === 'admin'
      each user in users
        include ../layouts/profile.pug
          div(class="d-flex pt-2")
            a(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
            href=`/view/users/${user.userId}/posts`) Posts
          div(class="d-flex pt-2")
            a(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
            href=`/view/users/update/${user.userId}`) Update user
          div(class="d-flex pt-2")
            a(type="button" onclick="return confirm('Are you sure you want to delete your account?');"
            class="btn me-1 flex-grow-1 btn-danger"
            href=`/view/users/delete/${user.userId}`) Delete user

    div(class="d-flex pt-5 justify-content-center align-items-center")
      a(type="button" class="btn btn-primary m-3"
      href='/view/users/sortbyalpha') Show sorted Users
      a(type="button" class="btn btn-primary m-3"
      href='/view/users/abcnames') Show ABC users
      a(type="button" class="btn btn-primary m-3"
      href='/view/users/countabc') Show count of ABC users





